mixin javascript-skills()
	section.javascript-skills.grid-x
		.javascript-skills__text.cell.small-8.medium-4.medium-order-2
			p.javascript-skills__title Мой уровень владения Java Script
			span.javascript-skills__count(data-percentage="60") 0
		.cell.small-8.medium-4.medium-order-1
			.javascript-skills__progressbar
				include ../../../images/meter.svg
				.javascript-skills__arrow
					include ../../../images/arrow.svg
