// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-blue: #0093d7;
$color-gallery: #f0f0f0;
$color-bianca: #fefefc;
$color-mine-shaft: #333;

$text-dove-gray: #666;
$text-black: #010101;
$text-blue: #0093d7;

// FONTS

$font-family-roboto: "Roboto", sans-serif;

// GRID

$grid-columns: 8;
$global-width: 960px;
